.container-tab{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
table{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-collapse: collapse;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
thead{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #000000;
    color: white;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
thead > tr > td{
    padding: 12px 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
tbody{
    background-color: #252525;
    color: white;
}
tbody > tr > td{
    
    padding: 1px 16px;
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}
th, td{
    border-radius: 8px;
    box-shadow: rgba(116, 116, 116, 0.726) 0px 2px 4px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
table img{
    padding: 5px;
    height: 60px;
    width: 60px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/* 
table img:hover{
    cursor: pointer;
    transform: scale(2);
    height: 100px;
    width: 100px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
} */
